.v-data-table .v-table__wrapper tbody tr:hover > td,
.v-data-table .v-table__wrapper tbody tr:hover > th {
  background-color: rgba(var(--v-theme-primary), 0.1) !important;
}

.fixed-dialog .v-card-text {
  // max-height: 60vh;
  overflow: auto;
}
.advanced-filter {
  border-top: 1px dashed #e0e0e0;
  margin-top: 8px;
  padding-top: 8px;
}

.v-list:not(.v-list--nav) .v-list-item:hover .v-list-item__overlay {
  background-color: rgba(var(--v-theme-primary), 0.1) !important;
  opacity: 1 !important;
}

/* （必要なら）ナビゲーションドロワーにも同じ色を適用 */
// .v-navigation-drawer .v-list .v-list-item:hover .v-list-item__overlay {
//   background-color: rgba(var(--v-theme-primary), 0.1) !important;
//   opacity: 1 !important;
// }
